#border{
width:735; 
margin:auto;
background-color:#003399;
}

#resLine{
 width:100;
text-align:right;
background-color:#FFFFFF;
}

#comment{
text-align:left; 
color:#FFFFFF; 
font-size:12; 
}

#title{
color:#ff1493; 
font-size:50;
text-align:center;
}
.center{
text-align:center;
}
.res_name{
color:#4040FF;
}
.font{
font-size:20;
}
.buttonpad{
padding:10px;
}
.spancolor{
color:#FFFFFF;
}
.buttonposition{
margin-left:305px;
}