#title{
text-align:center;
font-size:50; 
color :#FF0088
}

#subtitle{
font-size:15; 
text-align:center;
}


#border{
margin:auto;
background-color:#003399;
}
#threadLine{
text-align:right;
background-color:#FFFFFF;
}

#comment{
text-align:left; 
color:#FFFFFF; 
font-size:12; 
}

#res_titly{
text-align:center;
font-color:#003399;
font-size:14;
}
#res_line{
background-color:#FFFFFF;
text-align:center;
font-size:14;
}
.center{
text-align:center;
}
