hr {
	margin: 0;
}
#border{
width:60%;
margin:auto auto 5px;
background-color:#FFFFFF;
}

#resLine{
width:100;
text-align:right;
background-color:#FFFFFF;
}
#firstComment{
	background-color: rgba(123, 123, 123, 0.1);
}
#comment{
text-align:left;
font-size:12;
}
#titleH1 {
	margin-top: 50px;
	font-size: 32px;
	text-align: center;
}
#titleA{
	color: #ff1493;
	text-decoration: underline;
}
#titleA:hover{
	text-decoration: none;
}
.center{
text-align:center;
}
.res_name{
color:#4040FF;
}
.font{
font-size:20;
}
.buttonpad{
padding:10px;
}
.spancolor{
color:red;
}
.content{
	width: 100%;
	word-wrap: break-word;
	margin-left: 5px;
	margin-bottom:10px;
}
.commentInfo{
	margin-left: 5px;
}
#main {
	width: 95%;
	margin: auto;
}
.disabled {
	display: none;
}
.updateDeleteBtn{
	margin-top:5px;
	width: 50px;
}
#pageDiv {
	margin-top:10px;
}
.pageForm {
	display: inline-block;
}
#topPage:hover {
	text-decoration: none;
}
#go_top{
	cursor:pointer;
	border-radius:50px;
	opacity:0.5;
	bottom:10px;
	position:fixed;
	right:10px;
	display:none;
}
#go_top:hover{
	opacity:1;
}